@import url('https://fonts.googleapis.com/css2?family=Benne&family=Bentham&display=swap');


a:link {
text-decoration: none;
text-align: center;
color: black;
}


a:active {
  color: darkturquoise;
}

#quote {
  margin-left: 10rem;
  grid-area: C;
  font-family: 'Bentham', serif;
  font-size: 20px;
  align-items: center;

}

.nav {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  height: 80px;
  border-bottom: 1px solid black;
  padding-top: 0;
  align-items: center;
  grid-template-areas: 
  "A B C";
  color: black;
  background-color: white;
}


#name {
  grid-area: A;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-family: 'Benne', serif;
  font-size: 68px;
  margin-left: 9vw;
  margin-bottom: 3vh;
}

#name:hover{
  color:violet;
}

#quill {
  grid-area: A;
  height: 4.5em;
  margin-bottom: 40px;
  margin-left: 5vw;
  
}